
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: white;
}

#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreBoard{
  display: flex;
  flex-direction: column;
  text-align:center;
}

.characterArray{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}


